         h1{
             font-size: 50px;
             text-align: center;
             color: black;
             border-bottom: 1px solid gray;
             text-decoration: none;
             margin: 0;
             padding: 20px;
            
         }
         a{
             text-decoration: none;
             
         }
         #grid ol{
             border-right: 1px solid gray;
             width: 100px;
             margin: 0;
             padding: 33px;
             
         }
         body{
             margin: 0;
         }
         #grid{
             display: grid;
             grid-template-columns: 150px 1fr;
         }
         #text{
             padding: 25px;
         }